{% extends "base.html" %}
{% load i18n %}

{% load static%}
{% block content %}
<main  class="mt-5">
    <div class="container mynav">
            <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <h1>{% trans 'Ändra lösenord' %}</h1>
                    </div>
                    <div class="signin">
                        <form method="post" class="form">
                            {% csrf_token %}
                            {{form}}

                                <input type="submit" class="btn btn-primary" value="{% trans 'Ändra lösenord'%}">

                        </form> 
                    </div>
                </div>
    </div>
</main>

{% endblock content %}