{% extends 'base.html'%}
{% load i18n %}

{% load static%}

{%block content%} 
<div class="justify-content-xl-between"style="margin-left:40% ;">

    
        <p>
            <h3>Välkommen till Halsebos trädgårdsverkstad</h3> <br>
            <h5>Jag som driver butiken heter Viktoria och här jobbar 
            jag tillsammans med min man Darek.</h5>
        </p>
   


</div>

<style>
    
    p{
        
        text-align: center;
        
        margin-top:26%;
    }
</style>


{% endblock content %}